{% extends 'layouts/main.html' %}
{% load static %}

{% block title %}넷플릭스 박스오피스{% endblock title %}

{% block head %}
    <script src="{% static 'js/builder/collect/boxoffice.js' %}" defer></script>
    <link rel="stylesheet" href="/static/css/swiper-bundle.min.css" />
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
{% endblock head %}

{% block content %}

<div class="flex flex-col gap-5 min-h-[calc(100vh-188px)] sm:min-h-[calc(100vh-204px)]">
    <h1>{{ title }}</h1>
    <form name="frmSearchFilter" method="get" onsubmit="return false;">
        <input type="hidden" name="parser" value="on">
        <div class="relative flex">
            <div class="px-1">
                <button type="button" id="btnSearchNetflix" class="btn flex items-center gap-2 bg-primary border border-primary rounded-md text-white transition-all duration-300 hover:bg-primary/[0.85] hover:border-primary/[0.85]">
                    <svg width="14" height="14" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="11.5" cy="11.5" r="9.5" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
                        <path d="M18.5 18.5L22 22" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
                    </svg>
                    검색하기
                </button>
            </div>
            {% if videos is not None %}
                <div x-data="modals">
                    <div class="px-1">
                        <button type="button" class="btn flex items-center gap-2 bg-primary border border-primary rounded-md text-white transition-all duration-300 hover:bg-primary/[0.85] hover:border-primary/[0.85]" @click="toggle">
                            <svg width="15" height="15" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M3 15C3 17.8284 3 19.2426 3.87868 20.1213C4.75736 21 6.17157 21 9 21H15C17.8284 21 19.2426 21 20.1213 20.1213C21 19.2426 21 17.8284 21 15" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M12 3V16M12 16L16 11.625M12 16L8 11.625" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                            저장하기
                        </button>
                    </div>
                    <div class="fixed inset-0 bg-dark/90 dark:bg-white/5 backdrop-blur-sm z-[99999] hidden overflow-y-auto" :class="open && '!block'">
                        <div class="flex items-start justify-center min-h-screen px-4" @click.self="open = false">
                            <div x-show="open" x-transition x-transition.duration.300 class="bg-white dark:bg-dark dark:border-gray/20 border-2 border-lightgray/10 rounded-lg overflow-hidden my-8 w-full max-w-lg">
                                <div class="flex bg-white dark:bg-dark items-center border-b border-lightgray/10 dark:border-gray/20 justify-between px-5 py-3">
                                    <h5 class="font-semibold text-lg">비디오 저장</h5>
                                    <button type="button" class="text-lightgray hover:text-primary" @click="toggle">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w-5 h-5">
                                            <path d="M12.0007 10.5865L16.9504 5.63672L18.3646 7.05093L13.4149 12.0007L18.3646 16.9504L16.9504 18.3646L12.0007 13.4149L7.05093 18.3646L5.63672 16.9504L10.5865 12.0007L5.63672 7.05093L7.05093 5.63672L12.0007 10.5865Z" fill="currentColor"></path>
                                        </svg>
                                    </button>
                                </div>
                                <div class="p-5 space-y-4">
                                    <div class="text-lightgray text-sm font-normal">
                                        <p>선택된 비디오들을 데이터베이스에 저장합니다.</p>
                                    </div>
                                    <div class="flex justify-end items-center gap-4">
                                        <button type="button" class="btn border text-danger border-transparent rounded-md transition-all duration-300 hover:text-white hover:bg-danger bg-danger/10" @click="toggle">취소</button>
                                        <button type="button" id="btnSaveVideos" class="btn border text-primary border-transparent rounded-md transition-all duration-300 hover:text-white hover:bg-primary bg-primary/10">확인</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </form>
    <form name="frmSearchResult" method="post" onsubmit="return false;">
        {% csrf_token %}
        <input type="hidden" name="rank" value="{{rank}}">
        {% if videos is not None %}
            <div class="bg-white dark:bg-dark dark:border-gray/20 border-2 border-lightgray/10 p-5 rounded-lg">
                <h2 class="text-base font-semibold mb-4">검색 결과</h2>
                <div class="overflow-auto">
                    <table class="min-w-[640px] w-full product-table font-normal">
                        <thead>
                            <tr class="text-left">
                                <th><input type="checkbox" name="check_all" id="chkVideoAll" class=".check-video-all form-checkbox"/><label for="chkVideoAll">전체</label></th>
                                <th class="w-[200px]">이미지</th>
                                <th class="w-[640px] overflow-hidden whitespace-nowrap">비디오 정보</th>
                                <th class="w-[200px]">타입</th>
                                <th class="w-[200px]">보러가기</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Start 비디오 정보 Loop -->
                            {% for video in videos %}

                                {% if forloop.last %}
                                <tr class="text-left">
                                {% else %}
                                <tr class="text-left border-b border-gray/10">
                                {% endif %}
                                    <input type="hidden" name="video_{{video.platform_id}}" value="{{video}}">
                                    <!-- 체크박스 -->
                                    <td>
                                        <input
                                            type="checkbox"
                                            name="platform_ids"
                                            class="form-checkbox"
                                            value="{{video.platform_id}}"
                                        />
                                    </td>
                                    <!-- 썸네일 -->
                                    <td>
                                        <div class="swiper SwiperwithPagination min-w-[200px] max-w-[200px]">
                                            <div class="swiper-wrapper">
                                                {% for thumbnail in video.thumbnail %}
                                                    <div class="swiper-slide">
                                                        <img src="{{thumbnail.url}}" alt="slider" class="max-h-96 object-cover" />
                                                    </div>
                                                {% endfor %}
                                            </div>
                                            <div class="swiper-pagination"></div>
                                        </div>
                                    </td>
                                    <!-- 비디오 정보 -->
                                    <td>
                                        <div class="flex items-center gap-2.5">
                                            <button type="button" class="btn w-[100px] hover:bg-gray/10 border border-gray/10 rounded-full transition-all duration-300">제목</button>
                                            <div class="px-1 text-gray">{{video.title}}</div>
                                        </div>
                                        <div class="flex items-center gap-2.5 mt-1">
                                            <button type="button" class="btn w-[100px] hover:bg-gray/10 border border-gray/10 rounded-full transition-all duration-300">출시일</button>
                                            <div class="w-24 px-1 text-gray">{{video.release}}</div>
                                            <button type="button" class="btn w-[100px] hover:bg-gray/10 border border-gray/10 rounded-full transition-all duration-300">상영시간</button>
                                            <div class="w-24 px-1 text-gray">{{video.runtime}}</div>
                                            <button type="button" class="btn w-[100px] hover:bg-gray/10 border border-gray/10 rounded-full transition-all duration-300">관람등급</button>
                                            <div class="w-24 px-1 text-gray">{{video.notice_age}}</div>
                                        </div>
                                        <div class="flex flex-wrap items-center gap-2.5 mt-1">
                                            <button type="button" class="btn w-[100px] hover:bg-gray/10 border border-gray/10 rounded-full transition-all duration-300">장르</button>
                                            {% for genre in video.genre %}
                                                <div class="flex items-center space-x-2.5 text-gray hover:text-dark dark:hover:text-white duration-300">
                                                    <span>{{genre.name}}</span>
                                                    {% if not forloop.last %}
                                                        <span class="text-xs">/</span>
                                                    {% endif %}
                                                </div>
                                            {% endfor %}
                                        </div>
                                        <div class="flex flex-wrap items-center gap-2.5 mt-1">
                                            <button type="button" class="btn w-[100px] hover:bg-gray/10 border border-gray/10 rounded-full transition-all duration-300">출연</button>
                                            {% for actor in video.actor %}
                                                <div class="flex items-center space-x-2.5 text-gray hover:text-dark dark:hover:text-white duration-300">
                                                    <span>{{actor.name}}</span>
                                                    {% if not forloop.last %}
                                                        <span class="text-xs">/</span>
                                                    {% endif %}
                                                </div>
                                            {% endfor %}
                                        </div>
                                        <div class="flex flex-wrap items-center gap-2.5 mt-1">
                                            <button type="button" class="btn w-[100px] hover:bg-gray/10 border border-gray/10 rounded-full transition-all duration-300">제작</button>
                                            {% for staff in video.staff %}
                                                <div class="flex items-center space-x-2.5 text-gray hover:text-dark dark:hover:text-white duration-300">
                                                    <span>{{staff.name}}</span>
                                                    {% if not forloop.last %}
                                                        <span class="text-xs">/</span>
                                                    {% endif %}
                                                </div>
                                            {% endfor %}
                                        </div>
                                        <div class="flex items-center gap-2.5 mt-1">
                                            <button type="button" class="btn w-[100px] hover:bg-gray/10 border border-gray/10 rounded-full transition-all duration-300">시놉시스</button>
                                            <div class="px-1 text-gray">{{video.synopsis}}</div>
                                        </div>
                                    </td>
                                    <!-- 비디오 타입 -->
                                    <td>
                                        {% if video.type == "10" %}
                                            <button type="button" class="btn border text-danger border-transparent rounded-md transition-all duration-300 hover:text-white hover:bg-danger bg-danger/10">Movie</button>
                                        {% elif video.type == "11" %}
                                            <button type="button" class="btn border text-success border-transparent rounded-md transition-all duration-300 hover:text-white hover:bg-success bg-success/10">Series</button>
                                        {% endif %}
                                    </td>
                                    <!-- 보러가기 -->
                                    <td>
                                        <a href="{{video.watch.0.url}}" target="_blank" class="btn flex items-center gap-2 bg-primary border border-primary rounded-md text-white transition-all duration-300 hover:bg-primary/[0.85] hover:border-primary/[0.85]">
                                            <svg width="15" height="15" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M12 21L21 12M12 21L3 12M12 21L12 3" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                            </svg>
                                            보러가기
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            <!-- End 비디오 정보 Loop -->
                        </tbody>
                    </table>
                </div>
            </div>
        {% endif %}
    </form>

</div>

 <!-- Swiper Slider Js -->
 <script src="/static/js/swiper-bundle.min.js"></script>
 <script>
    const swiper = new Swiper(".SwiperwithPagination", {
        pagination: {
            el: ".swiper-pagination",
        },
    });
</script>

{% endblock content %}