
<nav class="sidebar fixed z-50 flex-none w-[226px] border-r-2 border-lightgray/[8%] dark:border-gray/20 transition-all duration-300">
    <div class="bg-white dark:bg-dark h-full">
        <div class="p-3.5">
            <a href="/static" class="main-logo w-full">
                <img src="/images/logo-dark.svg" class="mx-auto dark-logo h-8 logo dark:hidden" alt="logo" />
                <img src="/images/logo-light.svg" class="mx-auto light-logo h-8 logo hidden dark:block" alt="logo" />
                <img src="/images/logo-icon.svg" class="logo-icon h-8 mx-auto hidden" alt="">
            </a>
        </div>
        <div class="flex items-center gap-2.5 py-2.5 pe-2.5">
            <div class="h-[2px] bg-lightgray/10 dark:bg-gray/50 block flex-1"></div>
            <button type="button" class="shrink-0 btn-toggle hover:text-primary duration-300" @click="$store.app.toggleSidebar()">
                <svg class="w-3.5" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path opacity="0.2" d="M5.46133 6.00002L11.1623 12L12.4613 10.633L8.05922 6.00002L12.4613 1.36702L11.1623 0L5.46133 6.00002Z" fill="currentColor" />
                    <path d="M0 6.00002L5.70101 12L7 10.633L2.59782 6.00002L7 1.36702L5.70101 0L0 6.00002Z" fill="currentColor" />
                </svg>
            </button>
        </div>
        <div class="h-[calc(100vh-93px)] overflow-y-auto overflow-x-hidden space-y-16 px-4 pt-2 pb-4">
            <ul class="relative flex flex-col gap-1 text-sm" x-data="{ activeMenu: '{{activeMenu}}', activeItem: '{{activeItem}}' }">
                <!-- DASHBOARD -->
                <li class="menu nav-item">
                    <a href="javaScript:;" class="nav-link group items-center justify-between" :class="{'active' : activeMenu === 'dashboard'}" @click="activeMenu === 'dashboard' ? activeMenu = null : activeMenu = 'dashboard'">
                        <div class="flex items-center">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path opacity="0.3" d="M10.8939 22H13.1061C16.5526 22 18.2759 22 19.451 20.9882C20.626 19.9764 20.8697 18.2827 21.3572 14.8952L21.6359 12.9579C22.0154 10.3208 22.2051 9.00229 21.6646 7.87495C21.1242 6.7476 19.9738 6.06234 17.6731 4.69182L17.6731 4.69181L16.2882 3.86687C14.199 2.62229 13.1543 2 12 2C10.8457 2 9.80104 2.62229 7.71175 3.86687L6.32691 4.69181L6.32691 4.69181C4.02619 6.06234 2.87583 6.7476 2.33537 7.87495C1.79491 9.00229 1.98463 10.3208 2.36407 12.9579L2.64284 14.8952C3.13025 18.2827 3.37396 19.9764 4.54903 20.9882C5.72409 22 7.44737 22 10.8939 22Z" fill="currentColor" />
                                <path d="M9.44666 15.397C9.11389 15.1504 8.64418 15.2202 8.39752 15.5529C8.15086 15.8857 8.22067 16.3554 8.55343 16.6021C9.52585 17.3229 10.7151 17.7496 12 17.7496C13.285 17.7496 14.4742 17.3229 15.4467 16.6021C15.7794 16.3554 15.8492 15.8857 15.6026 15.5529C15.3559 15.2202 14.8862 15.1504 14.5534 15.397C13.8251 15.9369 12.9459 16.2496 12 16.2496C11.0541 16.2496 10.175 15.9369 9.44666 15.397Z" fill="currentColor" />
                            </svg>
                            <span class="pl-1.5">Dashboard</span>
                        </div>
                        <div class="w-4 h-4 flex items-center justify-center dropdown-icon" :class="{'!rotate-180' : activeMenu === 'dashboard'}">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w-6 h-6">
                                <path d="M11.9997 13.1714L16.9495 8.22168L18.3637 9.63589L11.9997 15.9999L5.63574 9.63589L7.04996 8.22168L11.9997 13.1714Z" fill="currentColor"></path>
                            </svg>
                        </div>
                    </a>
                    <ul x-cloak x-show="activeMenu === 'dashboard'" x-collapse class="sub-menu flex flex-col gap-1">
                        <li><a :class="{'active': activeItem === 'analysis'}" href="/static">Analysis</a></li>
                        <li><a :class="{'active': activeItem === 'ecommerce'}" href="/app/dashboard/ecommerce">eCommerce</a></li>
                    </ul>
                </li>
                <!-- BUILDER -->
                <h2 class="pt-3.5 pb-2.5 text-gray text-xs">BUILDER</h2>
                <li class="menu nav-item">
                    <a href="javaScript:;" class="nav-link group items-center justify-between" :class="{'active' : activeMenu === 'builder-crawling'}" @click="activeMenu === 'socialapps' ? activeMenu = null : activeMenu = 'builder-crawling'">
                        <div class="flex items-center">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M18 14C18 18.4183 14.4183 22 10 22C8.76449 22 7.5944 21.7199 6.54976 21.2198C6.19071 21.0479 5.78393 20.9876 5.39939 21.0904L4.17335 21.4185C3.20701 21.677 2.32295 20.793 2.58151 19.8267L2.90955 18.6006C3.01245 18.2161 2.95209 17.8093 2.7802 17.4502C2.28008 16.4056 2 15.2355 2 14C2 9.58172 5.58172 6 10 6C14.4183 6 18 9.58172 18 14ZM6.5 15C7.05228 15 7.5 14.5523 7.5 14C7.5 13.4477 7.05228 13 6.5 13C5.94772 13 5.5 13.4477 5.5 14C5.5 14.5523 5.94772 15 6.5 15ZM10 15C10.5523 15 11 14.5523 11 14C11 13.4477 10.5523 13 10 13C9.44772 13 9 13.4477 9 14C9 14.5523 9.44772 15 10 15ZM13.5 15C14.0523 15 14.5 14.5523 14.5 14C14.5 13.4477 14.0523 13 13.5 13C12.9477 13 12.5 13.4477 12.5 14C12.5 14.5523 12.9477 15 13.5 15Z" fill="currentColor" />
                                <path opacity="0.3" d="M17.9841 14.5084C18.092 14.4638 18.1985 14.4163 18.3033 14.3661C18.5951 14.2264 18.9256 14.1774 19.238 14.261L20.2342 14.5275C21.0193 14.7376 21.7376 14.0193 21.5275 13.2342L21.261 12.238C21.1774 11.9256 21.2264 11.595 21.3661 11.3033C21.7725 10.4545 22 9.50385 22 8.5C22 4.91015 19.0899 2 15.5 2C12.79 2 10.4673 3.6585 9.49158 6.0159C9.6597 6.00535 9.82924 6 10 6C14.4183 6 18 9.58172 18 14C18 14.1708 17.9947 14.3403 17.9841 14.5084Z" fill="currentColor" />
                            </svg>
                            <span class="pl-1.5">데이터 수집</span>
                        </div>
                        <div class="w-4 h-4 flex items-center justify-center dropdown-icon" :class="{'!rotate-180' : activeMenu === 'builder'}">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w-6 h-6">
                                <path d="M11.9997 13.1714L16.9495 8.22168L18.3637 9.63589L11.9997 15.9999L5.63574 9.63589L7.04996 8.22168L11.9997 13.1714Z" fill="currentColor"></path>
                            </svg>
                        </div>
                    </a>
                    <ul x-cloak x-show="activeMenu === 'builder-crawling'" x-collapse class="sub-menu flex flex-col gap-1">
                        <li><a :class="{'active': activeItem === 'netflix'}" href="{% url 'builder:collect-netflix' %}">넷플릭스</a></li>
                        <li><a :class="{'active': activeItem === 'netflix-boxoffice'}" href="{% url 'builder:collect-netflix-boxoffice' %}">넷플릭스 박스오피스</a></li>
                    </ul>
                </li>
                <!-- CONTENT -->
                <h2 class="pt-3.5 pb-2.5 text-gray text-xs">CONTENT</h2>
                <li class="menu nav-item">
                    <a href="javaScript:;" class="nav-link group items-center justify-between" :class="{'active' : activeMenu === 'content-video'}" @click="activeMenu === 'components' ? activeMenu = null : activeMenu = 'content-video'">
                        <div class="flex items-center">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M8.42229 20.618C10.1779 21.5393 11.0557 22 12 22V12L2.63802 7.07264C2.62423 7.09479 2.6107 7.11716 2.5974 7.13974C2 8.15425 2 9.41667 2 11.9415V12.0585C2 14.5833 2 15.8458 2.5974 16.8603C3.19479 17.8748 4.27063 18.4393 6.42229 19.5685L8.42229 20.618Z" fill="currentColor" />
                                <path opacity="0.5" d="M17.5774 4.43152L15.5774 3.38197C13.8218 2.46066 12.944 2 11.9997 2C11.0554 2 10.1776 2.46066 8.42197 3.38197L6.42197 4.43152C4.31821 5.53552 3.24291 6.09982 2.6377 7.07264L11.9997 12L21.3617 7.07264C20.7564 6.09982 19.6811 5.53552 17.5774 4.43152Z" fill="currentColor" />
                                <path opacity="0.3" d="M21.4026 7.13986C21.3893 7.11727 21.3758 7.09491 21.362 7.07275L12 12.0001V22.0001C12.9443 22.0001 13.8221 21.5395 15.5777 20.6181L17.5777 19.5686C19.7294 18.4395 20.8052 17.8749 21.4026 16.8604C22 15.8459 22 14.5834 22 12.0586V11.9416C22 9.41678 22 8.15436 21.4026 7.13986Z" fill="currentColor" />
                            </svg>
                            <span class="pl-1.5">비디오 관리</span>
                        </div>
                        <div class="w-4 h-4 flex items-center justify-center dropdown-icon" :class="{'!rotate-180' : activeMenu === 'content-video'}">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w-6 h-6">
                                <path d="M11.9997 13.1714L16.9495 8.22168L18.3637 9.63589L11.9997 15.9999L5.63574 9.63589L7.04996 8.22168L11.9997 13.1714Z" fill="currentColor"></path>
                            </svg>
                        </div>
                    </a>
                    <ul x-cloak x-show="activeMenu === 'content-video'" x-collapse class="sub-menu flex flex-col gap-1">
                        <li><a :class="{'active': activeItem === 'accordions'}" href="/components/accordions">Accordions</a></li>
                        <li><a :class="{'active': activeItem === 'tabs'}" href="/components/tabs">Tabs</a></li>
                        <li><a :class="{'active': activeItem === 'modals'}" href="/components/modals">Modal</a></li>
                        <li><a :class="{'active': activeItem === 'notification'}" href="/components/notification">Notification</a></li>
                        <li><a :class="{'active': activeItem === 'lightbox'}" href="/components/lightbox">Lightbox</a></li>
                        <li><a :class="{'active': activeItem === 'swiper'}" href="/components/swiper">Swiper</a></li>
                    </ul>
                </li>
                <li class="menu nav-item">
                    <a href="javaScript:;" class="nav-link group items-center justify-between" :class="{'active' : activeMenu === 'content-review'}" @click="activeMenu === 'elements' ? activeMenu = null : activeMenu = 'content-review'">
                        <div class="flex items-center">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M8.73167 5.77133L5.66953 9.91436C4.3848 11.6526 3.74244 12.5217 4.09639 13.205C4.10225 13.2164 4.10829 13.2276 4.1145 13.2387C4.48945 13.9117 5.59888 13.9117 7.81775 13.9117C9.05079 13.9117 9.6673 13.9117 10.054 14.2754L10.074 14.2946L13.946 9.72466L13.926 9.70541C13.5474 9.33386 13.5474 8.74151 13.5474 7.55682V7.24712C13.5474 3.96249 13.5474 2.32018 12.6241 2.03721C11.7007 1.75425 10.711 3.09327 8.73167 5.77133Z" fill="currentColor" />
                                <path opacity="0.3" d="M10.4527 16.4432L10.4527 16.7528C10.4527 20.0374 10.4527 21.6798 11.376 21.9627C12.2994 22.2457 13.2891 20.9067 15.2685 18.2286L18.3306 14.0856C19.6154 12.3474 20.2577 11.4783 19.9038 10.7949C19.8979 10.7836 19.8919 10.7724 19.8857 10.7613C19.5107 10.0883 18.4013 10.0883 16.1824 10.0883C14.9494 10.0883 14.3329 10.0883 13.9462 9.72461L10.0742 14.2946C10.4528 14.6661 10.4527 15.2585 10.4527 16.4432Z" fill="currentColor" />
                            </svg>
                            <span class="pl-1.5">리뷰 관리</span>
                        </div>
                        <div class="w-4 h-4 flex items-center justify-center dropdown-icon" :class="{'!rotate-180' : activeMenu === 'content-review'}">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w-6 h-6">
                                <path d="M11.9997 13.1714L16.9495 8.22168L18.3637 9.63589L11.9997 15.9999L5.63574 9.63589L7.04996 8.22168L11.9997 13.1714Z" fill="currentColor"></path>
                            </svg>
                        </div>
                    </a>
                    <ul x-cloak x-show="activeMenu === 'content-review'" x-collapse class="sub-menu flex flex-col gap-1">
                        <li><a :class="{'active': activeItem === 'alerts'}" href="/elements/alerts">Alert</a></li>
                        <li><a :class="{'active': activeItem === 'avatar'}" href="/elements/avatar">Avatar</a></li>
                        <li><a :class="{'active': activeItem === 'buttons'}" href="/elements/buttons">Buttons</a></li>
                        <li><a :class="{'active': activeItem === 'badges'}" href="/elements/badges">Badges</a></li>
                        <li><a :class="{'active': activeItem === 'breadcrumb'}" href="/elements/breadcrumb">Breadcrumb</a></li>
                        <li><a :class="{'active': activeItem === 'dropdowns'}" href="/elements/dropdowns">Dropdowns</a></li>
                        <li><a :class="{'active': activeItem === 'loader'}" href="/elements/loader">Loader</a></li>
                        <li><a :class="{'active': activeItem === 'pagination'}" href="/elements/pagination">Pagination</a></li>
                        <li><a :class="{'active': activeItem === 'progressbar'}" href="/elements/progressbar">Progress Bar</a></li>
                    </ul>
                </li>
                <li class="menu nav-item">
                    <a href="javaScript:;" class="nav-link group items-center justify-between" :class="{'active' : activeMenu === 'content-ranking'}" @click="activeMenu === 'elements' ? activeMenu = null : activeMenu = 'content-ranking'">
                        <div class="flex items-center">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M8.73167 5.77133L5.66953 9.91436C4.3848 11.6526 3.74244 12.5217 4.09639 13.205C4.10225 13.2164 4.10829 13.2276 4.1145 13.2387C4.48945 13.9117 5.59888 13.9117 7.81775 13.9117C9.05079 13.9117 9.6673 13.9117 10.054 14.2754L10.074 14.2946L13.946 9.72466L13.926 9.70541C13.5474 9.33386 13.5474 8.74151 13.5474 7.55682V7.24712C13.5474 3.96249 13.5474 2.32018 12.6241 2.03721C11.7007 1.75425 10.711 3.09327 8.73167 5.77133Z" fill="currentColor" />
                                <path opacity="0.3" d="M10.4527 16.4432L10.4527 16.7528C10.4527 20.0374 10.4527 21.6798 11.376 21.9627C12.2994 22.2457 13.2891 20.9067 15.2685 18.2286L18.3306 14.0856C19.6154 12.3474 20.2577 11.4783 19.9038 10.7949C19.8979 10.7836 19.8919 10.7724 19.8857 10.7613C19.5107 10.0883 18.4013 10.0883 16.1824 10.0883C14.9494 10.0883 14.3329 10.0883 13.9462 9.72461L10.0742 14.2946C10.4528 14.6661 10.4527 15.2585 10.4527 16.4432Z" fill="currentColor" />
                            </svg>
                            <span class="pl-1.5">랭킹 관리</span>
                        </div>
                        <div class="w-4 h-4 flex items-center justify-center dropdown-icon" :class="{'!rotate-180' : activeMenu === 'content-ranking'}">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w-6 h-6">
                                <path d="M11.9997 13.1714L16.9495 8.22168L18.3637 9.63589L11.9997 15.9999L5.63574 9.63589L7.04996 8.22168L11.9997 13.1714Z" fill="currentColor"></path>
                            </svg>
                        </div>
                    </a>
                    <ul x-cloak x-show="activeMenu === 'content-ranking'" x-collapse class="sub-menu flex flex-col gap-1">
                        <li><a :class="{'active': activeItem === 'alerts'}" href="/elements/alerts">Alert</a></li>
                        <li><a :class="{'active': activeItem === 'avatar'}" href="/elements/avatar">Avatar</a></li>
                        <li><a :class="{'active': activeItem === 'buttons'}" href="/elements/buttons">Buttons</a></li>
                        <li><a :class="{'active': activeItem === 'badges'}" href="/elements/badges">Badges</a></li>
                        <li><a :class="{'active': activeItem === 'breadcrumb'}" href="/elements/breadcrumb">Breadcrumb</a></li>
                        <li><a :class="{'active': activeItem === 'dropdowns'}" href="/elements/dropdowns">Dropdowns</a></li>
                        <li><a :class="{'active': activeItem === 'loader'}" href="/elements/loader">Loader</a></li>
                        <li><a :class="{'active': activeItem === 'pagination'}" href="/elements/pagination">Pagination</a></li>
                        <li><a :class="{'active': activeItem === 'progressbar'}" href="/elements/progressbar">Progress Bar</a></li>
                    </ul>
                </li>
                <!-- USER -->
                <h2 class="pt-3.5 pb-2.5 text-gray text-xs">USER</h2>
                <li class="menu nav-item">
                    <a href="javaScript:;" class="nav-link group items-center justify-between" :class="{'active' : activeMenu === 'user-manage'}" @click="activeMenu === 'socialapps' ? activeMenu = null : activeMenu = 'user-manage'">
                        <div class="flex items-center">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M18 14C18 18.4183 14.4183 22 10 22C8.76449 22 7.5944 21.7199 6.54976 21.2198C6.19071 21.0479 5.78393 20.9876 5.39939 21.0904L4.17335 21.4185C3.20701 21.677 2.32295 20.793 2.58151 19.8267L2.90955 18.6006C3.01245 18.2161 2.95209 17.8093 2.7802 17.4502C2.28008 16.4056 2 15.2355 2 14C2 9.58172 5.58172 6 10 6C14.4183 6 18 9.58172 18 14ZM6.5 15C7.05228 15 7.5 14.5523 7.5 14C7.5 13.4477 7.05228 13 6.5 13C5.94772 13 5.5 13.4477 5.5 14C5.5 14.5523 5.94772 15 6.5 15ZM10 15C10.5523 15 11 14.5523 11 14C11 13.4477 10.5523 13 10 13C9.44772 13 9 13.4477 9 14C9 14.5523 9.44772 15 10 15ZM13.5 15C14.0523 15 14.5 14.5523 14.5 14C14.5 13.4477 14.0523 13 13.5 13C12.9477 13 12.5 13.4477 12.5 14C12.5 14.5523 12.9477 15 13.5 15Z" fill="currentColor" />
                                <path opacity="0.3" d="M17.9841 14.5084C18.092 14.4638 18.1985 14.4163 18.3033 14.3661C18.5951 14.2264 18.9256 14.1774 19.238 14.261L20.2342 14.5275C21.0193 14.7376 21.7376 14.0193 21.5275 13.2342L21.261 12.238C21.1774 11.9256 21.2264 11.595 21.3661 11.3033C21.7725 10.4545 22 9.50385 22 8.5C22 4.91015 19.0899 2 15.5 2C12.79 2 10.4673 3.6585 9.49158 6.0159C9.6597 6.00535 9.82924 6 10 6C14.4183 6 18 9.58172 18 14C18 14.1708 17.9947 14.3403 17.9841 14.5084Z" fill="currentColor" />
                            </svg>
                            <span class="pl-1.5">회원 목록</span>
                        </div>
                        <div class="w-4 h-4 flex items-center justify-center dropdown-icon" :class="{'!rotate-180' : activeMenu === 'user-manage'}">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w-6 h-6">
                                <path d="M11.9997 13.1714L16.9495 8.22168L18.3637 9.63589L11.9997 15.9999L5.63574 9.63589L7.04996 8.22168L11.9997 13.1714Z" fill="currentColor"></path>
                            </svg>
                        </div>
                    </a>
                    <ul x-cloak x-show="activeMenu === 'user-manage'" x-collapse class="sub-menu flex flex-col gap-1">
                        <li><a :class="{'active': activeItem === 'compose'}" href="/socialapps/compose">넷플릭스</a></li>
                        <li><a :class="{'active': activeItem === 'inbox'}" href="/socialapps/inbox">넷플릭스 박스오피스</a></li>
                        <li><a :class="{'active': activeItem === 'chat'}" href="/socialapps/chat">Chat</a></li>
                    </ul>
                </li>

            </ul>
        </div>
    </div>
</nav>

