{% extends 'layouts/main.html' %}
{% load static %}

{% block title %}넷플릭스{% endblock title %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
{% endblock head %}

{% block content %}

<div class="flex flex-col gap-5 min-h-[calc(100vh-188px)] sm:min-h-[calc(100vh-204px)]">
    <h2 class="text-base font-semibold mb-4">비디오 목록</h2>

    {% for video in videos %}
        <div class="flex flex-col gap-1.5 bg-white dark:bg-dark dark:border-gray/20 border-2 border-lightgray/10 p-5 rounded-lg">
            <div class="flex gap-1.5">
                {%  for thumbnail in video.thumbnail.all %}
                    <div class="w-[200px] h-[200px] object-cover rounded-lg" style="background: url('https://storage.reviewniverse.net/{{ thumbnail.url }}') no-repeat center center; background-size: contain;"></div>
                {% endfor %}
            </div>
            <div class="flex gap-1.5 my-2 text-sm text-gray">
                {% if not video.is_vertical %} <span class="bg-danger/10 text-danger flex items-center gap-1 rounded-full py-1 px-2.5 text-xs">세로 이미지 없음</span> {% endif %}
                {% if not video.is_confirm %} <span class="bg-success/10 text-success flex items-center gap-1 rounded-full py-1 px-2.5 text-xs">관리자 승인 필요</span> {% endif %}
            </div>
            <a href="{% url 'content:video-detail' video.id %}">

                <h2 class="text-base font-semibold my-2">{{ video.title }}</h2>
                <div class="grid grid-cols-1">
                    <div class="space-y-5">
                        <div>
                            <p class="font-semibold my-2">{{ video.release }}</p>
                            <div class="space-y-2 my-2">
                                <p class="text-gray text-sm">{{ video.synopsis }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    {% endfor %}

</div>

{% endblock content %}