{% extends 'layouts/main.html' %}
{% load static %}

{% block title %}넷플릭스{% endblock title %}

{% block content %}

<div class="flex flex-col gap-5 min-h-[calc(100vh-188px)] sm:min-h-[calc(100vh-204px)]">
    <h2 class="text-base font-semibold mb-4">비디오 목록</h2>

    {% for object in object_list %}
        <div class="bg-white dark:bg-dark dark:border-gray/20 border-2 border-lightgray/10 p-5 rounded-lg">
            <a href="{% url 'content:video-detail' object.id %}"><img src="{{ object.thumbnail.0.url }}" alt="{{ object.title }}" class="w-full h-48 object-cover rounded-lg"></a>
            <h2 class="text-base font-semibold mb-4">{{ object.title }}</h2>
            <div class="grid grid-cols-1">
                <div class="space-y-5">
                    <div>
                        <p class="font-semibold">{{ object.release }}</p>
                        <div class="space-y-2 mt-3">
                            <p class="text-gray text-sm">{{ object.synopsis }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

</div>

{% endblock content %}